#tablehead{
    background-color: rgb(40, 40, 40);
    color: aliceblue;
}
#diferenciar1{
    background-color: rgb(255, 255, 255);

}
#diferenciar2{
    background-color: rgba(199, 199, 199, 0.461);

}
#table{
    border: solid;
    border-width: 0.5px;
    border-color: black;
}